<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:label="E-Kernel Manager"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
        android:supportsRtl="true">

        <activity
            android:name="com.ekernel.manager.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ekernel.manager.ElbActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

        <service android:name=".BatteryIdleTileService"
            android:label="Battery Bypass"
            android:icon="@android:drawable/ic_lock_idle_charging"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>

</manifest>
